@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

.header {
    background-color: rgb(107, 166, 214);
    display: flex;
    padding: 1.3rem;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    cursor: pointer;
}