.first-banner {
  background-color: #bac0f8;
}

.blog-header {
  font-size: 2.3rem;
}

.post-container {
  margin-top: -35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
}

.post-container > * {
  flex-basis: 30%;
  flex-grow: 1;
}

.description {
  font-size: 1.4rem;
}

.logo {
  border-radius: 50%;
}

@media (max-width: 768px) {
  .description {
    font-size: 1rem;
  }
  .post-container {
    display: flex;
    flex-direction: column;
  }
}
